.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Logo y título */
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
  }
  
  .titulo {
    font-size: 24px;
    color: #e9801e;
    font-family: Arial, sans-serif;
  }
  
  /* Barra de navegación */
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #000000; /* Color predeterminado */
    font-size: 16px;   
  }
  
  /* Enlace activo */
  .navbar a.active {
    color: #000000; /* Color del enlace activo */
  }
  
  /* Color al pasar el cursor */
  .navbar a:hover {
    color: #e9801e; /* Color al pasar el cursor */
  }
  
  /* Color al hacer clic */
  .navbar a:active {
    color: #e9801e; /* Color al hacer clic */
    font-weight: bold;
  }

  .contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }

  .contact-form input,
  .contact-form textarea {
    width: calc(100% - 5px); /* Ajuste del ancho para padding */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Incluir padding en el cálculo de width */
  }

  .contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e9801e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .contact-form button:hover {
    background-color: #218838;
  }

  .footer {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    text-align: left;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
    margin-top: 30px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .footer-section {
    width: 22%; /* Ajusta el ancho según el espacio disponible */
    min-width: 200px; /* Para que no sea demasiado estrecho en pantallas pequeñas */
    margin-bottom: 20px;
  }
  .footer-section h3 {
    color: #e9801e;
    margin-bottom: 10px;
    font-family: "Nunito";
    letter-spacing: 2px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #e9801e;
    text-decoration: none;
  }
  
  .payment-methods img,
  .footer-section img {
    width: 50px;
    margin: 5px;
  }
  
  .footer-bottom {
    text-align: center;
    border-top: 1px solid #d3d3d3;
    padding-top: 15px;
    color: #e9801e;
    font-size: 12px;
  }
  
  .footer-bottom a {
    color: #e9801e;
    text-decoration: underline;
  }
  
  /*.footer {
    background-color: #f4f4f4;  Color de fondo 
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
     Sombra para el efecto de relieve 
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
     Bordes redondeados opcionales 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 30px;
  }*/
